.footer {
	position: relative;
	flex: 0 0 auto;
	min-width: 320px;
	width: 100%;
	padding-top: 40px;
	background-image: url('../img/footer-bg.png');
	color: var(--white-color);

	&-container {
		display: flex;
		flex-direction: column;
	}
	&-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&-data {
		display: flex;
	}
}

@media (min-width: 992px) {
	.footer {
		padding-bottom: 60px;

		&-container {
			gap: 16px;
		}
		&-data {
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			gap: 16px 32px;
		}
	}
}
@media (max-width: 991.98px) {
	.footer {
		padding-bottom: 50px;

		&-container {
			gap: 24px;
		}
		&-data {
			flex-direction: column;
			justify-content: center;
			gap: 16px;
			text-align: center;
		}
	}
}