* {
	outline: none;
}
*, ::before, ::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	margin: 0;
	background-color: var(--black-color);
	color: var(--white-color);
	font-family: var(--font-family-sf);
	line-height: 1.6;
}
@media (min-width: 992px) {
	body {
		font-size: 16px;
	}
}
@media (max-width: 991.98px) {
	body {
		font-size: 14px;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: var(--text-caption);
	font-family: var(--font-family-albertusnova);
	font-weight: 400;
}
@media (min-width: 992px) {
	h1, .h1 {
		line-height: 1.25;
	}
	h2, .h2 {
		line-height: 1.5;
	}
	h3, .h3 {
		line-height: 1.5;
	}
	h4, .h4 {
		line-height: 1.4;
	}
	h5, .h5 {
		line-height: 1.3;
	}
	h6, .h6 {
		line-height: 1.6;
	}
}
@media (min-width: 1200px) {
	h1, .h1 {
		font-size: 68px;
	}
	h2, .h2 {
		font-size: 56px;
	}
	h3, .h3 {
		font-size: 42px;
	}
	h4, .h4 {
		font-size: 36px;
	}
	h5, .h5 {
		font-size: 22px;
	}
	h6, .h6 {
		font-size: 18px;
	}
}
@media (max-width: 991.98px) {
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
		line-height: 1.25;
	}
	h1, .h1 {
		font-size: 32px;
	}
	h2, .h2 {
		font-size: 16px;
	}
	h3, .h3 {
		font-size: 20px;
	}
	h4, .h4 {
		font-size: 20px;
	}
	h5, .h5,
	h6, .h6 {
		font-size: 14px;
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1, .h1 {
		font-size: 60px;
	}
	h2, .h2 {
		font-size: 50px;
	}
	h3, .h3 {
		font-size: 36px;
	}
	h4, .h4 {
		font-size: 32px;
	}
	h5, .h5 {
		font-size: 20px;
	}
	h6, .h6 {
		font-size: 16px;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: var(--transition);
}

picture,
img {
	max-width: 100%;
	object-fit: cover;
	overflow: hidden;
	user-select: none;
}
svg {
	max-width: 100%;
	max-height: 100%;
}

picture {
	display: flex;
}

.logo {
	display: inline-flex;
	align-items: center;
}

.dis-scroll {
	overflow: hidden;
	overscroll-behavior: none;
}

.overflow-hidden {
	overflow: hidden !important;
}

.is-hidden {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

/*.overlay,
.overlay-transparent {
	z-index: 2000;
	position: fixed;
	cursor: pointer;

	&::before {
		content: "";
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.overlay {
	&::before {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
.overlay-transparent {
	&::before {
		background-color: transparent;
	}
}*/

.color-yellow {
	color: var(--yellow-color);
}

.text-center {
	text-align: center!important;
}

.btn-reset {
	padding: 0;
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
}
.btn-g {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 16px 8px;
}
.btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	border: 1px solid transparent;
	border-radius: unset;
	background-color: transparent;
	color: var(--text-secondary);
	font-family: var(--font-family-sf-500);
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	cursor: pointer;
	transition: var(--transition);

	&__text,
	&__icon {
		z-index: 2;
		user-select: none;
	}
	&__text {
		opacity: 0.75;
		white-space: nowrap;
	}
	&__icon {
		&:not(.image) {
			fill: var(--text-secondary);
		}
	}
	&__decor {
		z-index: 5;
		position: absolute;
		bottom: -18px;
	}

	&:not(.btn-play) {
		border-radius: 25px/50%;
		padding-top: 16px;
		padding-bottom: 16px;
	}
	&:not(.btn-mini, .btn-play) {
		& .btn__icon {
			min-width: 32px;
			width: 32px;
			min-height: 32px;
			height: 32px;
		}
	}
	&:not(.btn-mini) {
		.btn__text {
			margin-bottom: 10px;
		}
	}
	&-mini {
		& .btn__icon {
			min-width: 24px;
			width: 24px;
			min-height: 24px;
			height: 24px;
		}
	}
	&-play {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 180px;
		width: 180px;
		min-height: 180px;
		height: 180px;
		border: 20px solid transparent;
		border-radius: 50%;

		&::before,
		&::after {
			content: "";
			z-index: 0;
			position: absolute;
			transition: var(--transition);
		}
		&::before {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			background: linear-gradient(135deg, #d4b883, #d4b883 20%, var(--yellow-color) 70%, var(--yellow-color));
		}
		&::after {
			top: -20px;
			right: -20px;
			bottom: -20px;
			left: -20px;
			background: url('../img/play-border.png') no-repeat center/contain;
		}
		& .btn__icon {
			z-index: 1;
			min-width: 30px;
			width: 30px;
			min-height: 35px;
			height: 35px;
			margin-left: 10px;
			transition: var(--transition);
		}

		&:hover {
			&::before {
				background: linear-gradient(135deg, #d4b883, #d4b883 15%, var(--yellow-color) 50%, var(--yellow-color));
			}
			&::after {
				opacity: 0;
			}

			& .btn__icon {
				transform: scale(1.35);
			}
		}
	}

	&-primary,
	&-secondary {
		color: var(--text-secondary);

		& .btn__icon {
			&:not(.image) {
				fill: var(--text-secondary);
			}
		}
	}
	&-primary {
		background-color: var(--yellow-color);
		box-shadow: 0 0 100px rgba(231, 163, 29, 0.8);

		&__effects {
			z-index: 1;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			overflow: hidden;
			border-radius: 25px/50%;
			box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.2);

			&::before,
			&::after {
				content: "";
				z-index: 1;
				position: absolute;
			}
			&::before {
				top: -30px;
				min-width: 2px;
				width: 2px;
				min-height: 2px;
				height: 2px;
				border-radius: 50%;
				box-shadow: 0 0 50px 80px rgba(251, 223, 166, 0.8);
				background-color: transparent;
			}
			&::after {
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 25px/50%;
				box-shadow: inset 0 0 10px rgba(251, 223, 166, 0.6);
			}
		}
		/*&:hover,
		&:active,
		&.active {
			box-shadow: 0 12px 28px -16px rgba(247, 209, 57, 0.2);
			background-color: var(--yellow2-color);
		}*/
	}
	&-secondary {
		background-color: var(--gray-color);
	}
}
@media (min-width: 992px) {
	.btn {
		&:not(.btn-mini, .btn-play) {
			min-height: 120px;
			height: 120px;
			font-size: 16px;
		}
		&:not(.btn-mini) {
			&.btn-primary {
				.btn-primary__effects {
					bottom: 10px;
				}
			}
		}
		&:not(.btn-play) {
			padding-right: 32px;
			padding-left: 32px;
		}
		&-mini {
			min-height: 80px;
			height: 80px;
			font-size: 14px;

			&.btn-primary {
				.btn-primary__effects {
					bottom: 4px;
				}
			}
		}

		&-primary {
			&-decored {
				margin-right: 40px;

				.btn__decor {
					right: -40px;

					&,
					.image {
						min-width: 85px;
						width: 85px;
						min-height: 75px;
						height: 75px;
					}
				}
			}
		}
	}
}
@media (min-width: 576px) {
	.btn {
		&-solo {
			min-width: 300px;
		}
	}
}
@media (max-width: 991.98px) {
	.btn {
		&:not(.btn-mini, .btn-play) {
			min-height: 90px;
			height: 90px;
			font-size: 14px;
		}
		&:not(.btn-play) {
			padding-right: 24px;
			padding-left: 24px;
		}
		&-mini {
			min-height: 70px;
			height: 70px;
			font-size: 12px;
		}

		&-primary {
			&__effects {
				bottom: 4px;
			}
			&-decored {
				margin-right: 16px;

				.btn__decor {
					right: -16px;

					&,
					.image {
						min-width: 68px;
						width: 68px;
						min-height: 60px;
						height: 60px;
					}
				}
			}
		}
	}
}
@media (max-width: 575.98px) {
	.btn {
		&-solo {
			min-width: 100%;
			width: 100%;
		}
	}
}

.link {
	color: var(--white-color);

	&--tdu {
		text-decoration: underline;
	}

	&:hover {
		color: var(--yellow-color);

		&.link--tdu {
			text-decoration: none;
		}
	}
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin-top: 0;

	&:not(:last-child) {
		margin-bottom: 4px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.input-reset {
	padding: 0;
	overflow: hidden;
	border: none;
	border-radius: 0;
	background-color: #fff;
	-webkit-appearance: none;
	appearance: none;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}
input:disabled,
input.disabled {
	cursor: not-allowed;
}

@media (min-width: 992px) {
	.gap {
		&-xs {
			margin-bottom: 20px !important;
		}
		&-sm {
			margin-bottom: 40px !important;
		}
		&-md {
			margin-bottom: 60px !important;
		}
		&-lg {
			margin-bottom: 80px !important;
		}
		&-xl {
			margin-bottom: 100px !important;
		}
	}

	.mobile-only {
		display: none !important;
	}
}
@media (max-width: 991.98px) {
	.gap {
		&-xs {
			margin-bottom: 12px !important;
		}
		&-sm,
		&-md,
		&-lg,
		&-xl {
			margin-bottom: 32px !important;
		}
	}

	.desktop-only {
		display: none !important;
	}

	/*.out-container-x {
		min-width: 100vw;
		max-width: 100vw;
	}
	.out-container-x {
		margin-right: calc(var(--container-offset) * -1);
		margin-left: calc(var(--container-offset) * -1);
	}*/
}

.visually-play {
	position: relative;

	&-btn {
		z-index: 1;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		border: 16px solid transparent;
		border-radius: 50%;
		pointer-events: none;

		&::before,
		&::after {
			content: "";
			z-index: 0;
			position: absolute;
			transition: var(--transition);
		}
		&::before {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			background: linear-gradient(135deg, #d4b883, #d4b883 20%, var(--yellow-color) 70%, var(--yellow-color));
		}
		&::after {
			top: -16px;
			right: -16px;
			bottom: -16px;
			left: -16px;
			background: url('../img/play-border.png') no-repeat center/contain;
		}
		&__icon {
			z-index: 1;
			transition: var(--transition);
		}
	}

	&:hover {
		.visually-play-btn {
			&::before {
				background: linear-gradient(135deg, #d4b883, #d4b883 15%, var(--yellow-color) 50%, var(--yellow-color));
			}
			&::after {
				opacity: 0;
			}
			&__icon {
				transform: scale(1.25);
			}
		}
	}
}
@media (min-width: 992px) {
	.visually-play {
		&-btn {
			min-width: 140px;
			width: 140px;
			min-height: 140px;
			height: 140px;

			&__icon {
				min-width: 23px;
				width: 23px;
				min-height: 25px;
				height: 25px;
				margin-left: 6px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.visually-play {
		&-btn {
			min-width: 100px;
			width: 100px;
			min-height: 100px;
			height: 100px;

			&__icon {
				min-width: 16px;
				width: 16px;
				min-height: 18px;
				height: 18px;
				margin-left: 3px;
			}
		}
	}
}


/*.custom-checkbox,
.custom-radio {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	cursor: default;

	&__input {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 20px;
		width: 20px;
		min-height: 20px;
		height: 20px;
		margin: 0;
		border: 1px solid var(--gray3-color);
		background-color: transparent;
		appearance: none;
		transition: var(--transition);

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
			transition: var(--transition);
		}
		&:not(:checked) {
			&:hover {
				border-color: var(--gray1-color);
			}
		}
		&:checked,
		&.checked {
			&,
			&:hover {
				border-color: var(--yellow2-color);
			}
			&::before {
				opacity: 1;
			}
		}
		&:not(:disabled),
		&:not(.disabled) {
			cursor: pointer;

			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--text-primary);
			}
			& ~ .custom-checkbox__brand .icon,
			& ~ .custom-radio__brand .icon {
				fill: var(--text-primary);
			}
		}
		&:disabled,
		&.disabled {
			cursor: default;

			&,
			&:hover {
				border-color: var(--gray5-color);
				background-color: var(--gray5-color);
			}
			& ~ .custom-checkbox__label-for,
			& ~ .custom-radio__label-for {
				color: var(--text-caption);
				user-select: none;
			}
			& ~ .custom-checkbox__brand,
			& ~ .custom-radio__brand {
				& .icon,
				& .image {
					max-height: 30px;
				}
				& .icon {
					fill: var(--text-caption);
				}
				& .image {
					filter: grayscale(1);
				}
			}
		}
	}
	&:not(:last-child) {
		margin: 0 12px 0 0;
	}
	&__label-for {
		display: inline-flex;
		align-items: center;
		padding-top: 2px;
		font-size: 13px;
		line-height: 18px;
	}
	&__brand {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 64px;
		width: 64px;
		min-height: 30px;
		height: 30px;

		& .icon,
		& .image {
			width: auto;
			height: 100%;
		}
	}
}
.custom-checkbox {
	&__input {
		border-radius: 4px;

		&:checked {
			&,
			&:hover {
				background-color: var(--yellow2-color);
			}
		}
	}
	&__input::before {
		min-width: 10px;
		width: 10px;
		min-height: 10px;
		height: 10px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
	}
	&__input--checkline::before {
		min-height: 2px;
		height: 2px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=");
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS4yMDcxIDEuMDg1ODZDMTEuNTk3NiAxLjQ3NjM5IDExLjU5NzYgMi4xMDk1NSAxMS4yMDcxIDIuNTAwMDhMNC41IDkuMjA3MThMMC43OTI4OTMgNS41MDAwOEMwLjQwMjM2OSA1LjEwOTU1IDAuNDAyMzY5IDQuNDc2MzkgMC43OTI4OTMgNC4wODU4NkMxLjE4MzQyIDMuNjk1MzQgMS44MTY1OCAzLjY5NTM0IDIuMjA3MTEgNC4wODU4Nkw0LjUgNi4zNzg3Nkw5Ljc5Mjg5IDEuMDg1ODZDMTAuMTgzNCAwLjY5NTMzOCAxMC44MTY2IDAuNjk1MzM4IDExLjIwNzEgMS4wODU4NloiIGZpbGw9IiNFOEVBRUIiLz4KPC9zdmc+Cg==");
	}
	&__input--checkline:checked:disabled::before,
	&__input--checkline:checked.disabled::before {
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDEyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFIMTEiIHN0cm9rZT0iI0U4RUFFQiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==");
	}
}
.custom-radio {
	&__input {
		border-radius: 50%;
	}
	&__input::before {
		min-width: 8px;
		width: 8px;
		min-height: 8px;
		height: 8px;
		border-radius: 50%;
		background-image: none;
		background: var(--yellow2-color);
	}
	&__input:checked:disabled::before,
	&__input:checked.disabled::before {
		background: none;
	}
}*/

/*
.input {
	min-width: 100%;
	padding: 9px 12px;
	border: 1px solid var(--gray4-color);
	border-radius: 4px;
	background: var(--white-color);
	color: var(--text-primary);
	font-size: 13px;
	line-height: 20px;

	&::placeholder {
		color: var(--text-secondary);
	}
	&:focus {
		border-color: var(--gray3-color);
	}

	&-promocode {
		.input {
			padding-right: 40px;
		}
		&-icon {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			min-width: 40px;
			width: 40px;

			&.btn {
				min-height: 40px;
				height: 40px;
			}
		}
		&-note {
			display: none;
		}
		&--has-data {
			.input-promocode-icon {
				display: flex;
			}
			.input-promocode-note {
				display: flex;
				padding-top: 4px;
				font-size: 12px;
			}
		}
		&--success {
			.icon {
				fill: var(--green-color);
			}
			.input-promocode-note {
				color: var(--text-secondary);
			}
		}
		&--error {
			.icon {
				fill: var(--red-color);
			}
			.input-promocode-note {
				color: var(--red-color);
				font-weight: 600;
			}
		}
	}
}
*/

/*.input-wrapper,
.input-search-wrapper {
	position: relative;
	min-width: 100%;
}
.input-search-wrapper {
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 12px;
		min-width: 16px;
		width: 16px;
		min-height: 16px;
		height: 16px;
		margin-top: -8px;
		background: url("../img/sprite.svg#search") no-repeat center/cover transparent;
		transition: var(--transition);
	}
	.input-search {
		min-width: 100%;
		border: 1px solid var(--gray4-color);
		border-radius: 4px;
		background: var(--white-color);
		color: var(--text-primary);
		font-size: 13px;
		line-height: 24px;

		&::placeholder {
			color: var(--text-secondary);
		}
		&:focus {
			border-color: var(--gray3-color);
		}
		&:not(.has-data) {
			& ~ .input-delete-btn {
				opacity: 0;
			}
		}
	}
	.input-search-btn,
	.input-delete-btn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
	}
	.input-search-btn {
		right: 6px;
	}
}*/

/*.submit-field-wrapper {
	position: relative;
	display: flex;
	gap: 12px;
	min-width: 100%;

	.submit-field-input {
		position: relative;
	}
}
@media (min-width: 992px) {
	.input-search-wrapper {
		.input-search {
			padding: 9px 80px 9px 40px;
		}
	}

	.submit-field-wrapper {
		align-items: center;
	}
}
@media (max-width: 991.98px) {
	.input-search-wrapper {
		.input-search {
			padding: 9px 40px;
		}
	}

	.submit-field-wrapper {
		flex-direction: column;
	}
}*/

/*.form {
	min-width: 100%;

	&__field {
		position: relative;
		min-width: 100%;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
		&-g {
			&:not(.form__field-g--horizontal) {
				.form__input {
					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
			&--horizontal {
				display: flex;
				gap: 16px;
			}
		}
		&-area {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
		&-title {
			color: var(--text-primary);
			font-weight: 600;

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
		textarea {
			resize: none;
		}
		&--flatpickr {
			&::before {
				content: "";
				z-index: 1;
				position: absolute;
				top: 13px;
				right: 26px;
				min-width: 24px;
				width: 24px;
				min-height: 24px;
				height: 24px;
				background: url("../img/sprite.svg#calendar") no-repeat center/cover transparent;
				pointer-events: none;
				user-select: none;
			}
		}
		&-ps {
			padding-top: 12px;
		}
		&-btn {
			display: flex;
			align-items: center;

			&--single .btn {
				width: 100%;
			}
		}
		&-agree {
			padding-top: 12px;
			color: var(--text-secondary);
			font-size: 12px;
		}
	}
	.field-wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;

		.label {
			display: flex;
			flex-direction: column;
			gap: 4px;
			cursor: default;

			.form__input {
				cursor: initial;
			}
			&-title {
				display: flex;
				flex: 1;
				flex-wrap: wrap;
				align-items: flex-end;
			}
			&-text {
				display: inline-flex;
				vertical-align: bottom;

				&:not(:last-child) {
					margin-right: 4px;
				}
			}
		}
	}
	&__input {
		min-width: 100%;
		border: 1px solid var(--gray4-color);
		border-radius: 4px;
		color: var(--text-primary);
		font-size: 13px;
		line-height: 16px;

		&::placeholder {
			color: var(--text-secondary);
		}
		&:focus {
			border-color: var(--gray3-color);
		}
		&:not(.form__input-icon) {
			padding: 11px 12px;
		}
		&-icon {
			padding: 11px 40px 11px 12px;
		}
		&-btn {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
			padding: 12px;
			cursor: pointer;

			& .icon {
				fill: var(--text-caption);
			}
			&:not(.show) {
				& .icon-show {
					display: none;
				}
			}
			&.show {
				& .icon-default {
					display: none;
				}
			}
		}
		&--select2 {
			& + .select2.select2-container {
				min-width: 100%!important;
			}
			& + .select2.select2-container .select2-selection--single,
			& + .select2.select2-container .select2-selection--multiple {
				min-width: 100%;
				min-height: 40px;
				height: 40px;
				padding: 11px 40px 11px 12px;
				border: 1px solid var(--gray4-color);
				border-radius: 4px;
				color: var(--text-primary);
				line-height: 16px;
			}
			& + .select2.select2-container.select2-container--focus .select2-selection--single,
			& + .select2.select2-container.select2-container--focus .select2-selection--multiple {
				border-color: var(--gray3-color);
			}
			// "ON" - when "initSelect2()" has {allowClear: true}
			!*& + .select2-container--default .select2-selection--single .select2-selection__clear,
			& + .select2-container--default .select2-selection--multiple .select2-selection__clear {
				margin-right: 0;
			}*!
			& + .select2.select2-container .select2-selection--single .select2-selection__rendered,
			& + .select2.select2-container .select2-selection--multiple .select2-selection__rendered {
				padding: 0;
			}
			& + .select2.select2-container--default .select2-selection--single .select2-selection__rendered,
			& + .select2.select2-container--default .select2-selection--multiple .select2-selection__rendered {
				color: inherit;
				line-height: inherit;
			}
			& + .select2.select2-container--default .select2-selection--single .select2-selection__arrow,
			& + .select2.select2-container--default .select2-selection--multiple .select2-selection__arrow {
				position: absolute;
				top: unset;
				right: 12px;
				bottom: 12px;
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
			}
			& + .select2.select2-container--default .select2-selection--single .select2-selection__arrow b,
			& + .select2.select2-container--default .select2-selection--multiple .select2-selection__arrow b {
				top: 0;
				left: 0;
				min-width: 16px;
				width: 16px;
				min-height: 16px;
				height: 16px;
				margin-top: 0;
				margin-left: 0;
				border: 0;
				background: url("../img/sprite.svg#chevron-down") no-repeat center/cover transparent;
			}
		}
	}
}*/

.tabs {
	position: relative;
	width: 100%;

	&::before {
		content: "";
		z-index: 0;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 1px;
		height: 1px;
		background-color: var(--gray5-color);
	}
	&-container {
		position: relative;
	}
	&-wrapper {
		box-sizing: border-box;
		display: flex;
		width: auto;
		height: auto;

		padding-right: 8px;
	}
	&-item {
		display: flex;
		width: auto;
		height: auto;
		padding: 0 16px;
	}
	&-trigger {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		min-height: 40px;
		height: 40px;
		padding: 8px 0px;
		background-color: transparent;
		color: var(--text-secondary);
		font-weight: 600;
		font-size: 11px;
		line-height: 24px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		white-space: nowrap;
		transition: var(--transition);

		&::before {
			content: "";
			z-index: 1;
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			min-height: 1px;
			background-color: transparent;
			transition: var(--transition);
		}
		&.selected {
			color: var(--text-primary);

			&::before {
				height: 2px;
				background-color: var(--text-primary);
			}
		}
		&:hover {
			color: var(--text-primary);
		}
	}
	&-content {
		&__panel {
			display: none;
		}
		&__panel.active {
			display: block;
		}
	}
}
@media (min-width: 992px) {
	.tabs {
		&-container {
			border: 1px solid var(--gray5-color);
			border-radius: 4px;
		}
	}
}

.spoiler {
	position: relative;
	line-height: 16px;

	&::before {
		content: "";
		z-index: 2;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		min-height: 8px;
		height: 8px;
		background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5) 75%, #ffffff);
	}
	&[data-readmore] {
		margin-bottom: 16px;
	}
	&,
	&-content {
		display: block;

		& p,
		& ul {
			margin-top: 0;

			&:not(:last-child) {
				margin-bottom: 16px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

[data-readmore] {
	overflow: hidden;
	transition: height 0.2s ease-out;
}

.table-descr {
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	vertical-align: top;

	& td {
		position: relative;
		padding-top: 6px;
		padding-bottom: 6px;
		vertical-align: bottom;
		background-color: #fff;
		color: var(--text-primary);
		line-height: 18px;
		text-align: left;

		&:first-child {
			max-width: 40%;
			width: 40%;
			padding-right: 12px;
			color: var(--text-secondary);

			& span {
				padding-right: 4px;
			}
		}
		&:last-child {
			& span {
				padding-left: 4px;
			}
		}
		&:first-child::before {
			content: "";
			position: absolute;
			right: 0;
			bottom: 9px;
			left: 4px;
			height: 1px;
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAHklEQVQImWM8debC+2/fvwsoysv9k5OVYmJgYPgAAHoMCO6trEXWAAAAAElFTkSuQmCC') 0 0 repeat-x;
		}
		& span {
			z-index: 1;
			position: relative;
			background: inherit;
		}
	}
	&-sb {
		& td {
			&:first-child {
				max-width: unset;
				width: unset;
			}
			&:last-child {
				text-align: right;

				&::before {
					content: "";
					position: absolute;
					right: 4px;
					bottom: 9px;
					left: 0;
					height: 1px;
					background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAABCAYAAAAW/mTzAAAAHklEQVQImWM8debC+2/fvwsoysv9k5OVYmJgYPgAAHoMCO6trEXWAAAAAElFTkSuQmCC') 0 0 repeat-x;
				}
			}
		}
	}
}

[data-removable] {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

[data-delete-trigger] {
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.icon {
		pointer-events: none;
		fill: var(--gray4-color);
	}

	&:hover {
		.icon {
			fill: var(--gray3-color);
		}
	}
}

.modal {
	position: relative;
	display: none;
	padding: 0;
	border: 1px solid var(--text9-color);
	border-radius: 16px;
	box-shadow: 0 14px 21px -1px rgba(40, 41, 41, 0.08);
	background: var(--white-color);
	cursor: default!important;

	& :focus:not(.carousel__button.is-close) {
		outline: none;
	}
	& > .carousel__button.is-close {
		top: 12px;
		right: 12px;
		min-width: 20px;
		width: 20px;
		min-height: 20px;
		height: 20px;
		padding: 3px;
		color: var(--gray4-color);
		transition: var(--transition);

		&:hover {
			color: var(--text-primary);
		}
	}
	& .carousel__button svg {
		filter: unset;
	}
	&__content {
		height: 100%;

		&-item {
			&:not(:last-child) {
				border-bottom: 1px solid var(--gray5-color);
			}
		}
	}
	&__header {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	&__title {
		&-icon {
			display: flex;
			align-items: center;
			gap: 20px;

			& .icon {
				min-width: 48px;
				width: 48px;
				min-height: 48px;
				height: 48px;
			}
		}
		&-share {
			display: flex;
			align-items: center;
			gap: 12px;

			& picture {
				display: flex;
			}
			& picture,
			& .image {
				min-width: 60px;
				width: 60px;
				min-height: 60px;
				height: 60px;
			}
		}
		&-column {
			flex-direction: column;
		}
	}
	&__subtitle {
		color: var(--text-secondary);
	}
	&-fields {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&__soc {
		display: flex;
		flex-direction: column;
		gap: 12px;

		&-links {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;

			& a {
				display: flex;
				border-radius: 4px;
			}
			& .icon {
				min-width: 40px;
				width: 40px;
				min-height: 40px;
				height: 40px;
			}
		}
		&.modal-share-soc {
			.modal__soc-links {
				gap: 12px;
			}
		}
	}

	&-city {
		height: 520px;
		overflow: hidden;

		.modal__content-item {
			padding: 16px 24px;
		}
		&-search {
			display: flex;
			flex-direction: column;
			gap: 8px;

			&__item {
				display: flex;
				flex-wrap: wrap;
				gap: 8px;
			}
			&__hint {
				.swiper {
					min-width: 100%;
					margin-right: 0;
					margin-left: 0;

					&-slide {
						width: auto;
					}
				}
			}
		}
		&-alphabet {
			&__list {
				display: flex;
				flex-wrap: wrap;
				overflow: auto;

				&::-webkit-scrollbar {
					width: 0;
				}
			}
			&__item {
				display: flex;
				flex-direction: column;
			}
			&__title {
				color: var(--text-caption);
				font-weight: 700;
			}
			&__title,
			&__city {
				line-height: 18px;
			}
			&__city {
				color: var(--text-primary);
			}
		}
	}

	&-create-review {
		.star-rating-wrapper {
			gap: 16px;
			font-weight: 600;
			font-size: 13px;
		}
	}

	&-cart-delete {
		.modal__header {
			gap: 24px;
		}
		.modal__subtitle {
			color: var(--text-primary);
		}
	}
}
@media (min-width: 768px) {
	.modal {
		&:not(.modal-big) {
			min-width: 420px;
			width: 420px;
		}
		&.modal-big {
			min-width: 600px;
			width: 600px;
		}
		&__content {
			&-item {
				padding: 24px 32px;
			}
		}
		&-city {
			&-alphabet {
				padding-top: 8px;
				padding-bottom: 8px;

				&__list {
					gap: 24px 20px;
					height: 323px;
				}
				&__item {
					gap: 12px;
					min-width: calc((552px - 40px) / 3);
					width: calc((552px - 40px) / 3);
				}
			}
		}
		&-create-review {
			.form {
				&__field {
					&:not(:last-child) {
						margin-bottom: 24px;
					}
					&-g {
						&--horizontal {
							flex-direction: row;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.modal {
		min-width: 343px;
		width: 343px;

		&__content {
			&-item {
				padding: 16px;
			}
		}

		&-city {
			.modal__content {
				&-item {
					padding: 12px 16px 20px;
				}
				&-item {
					&:last-child {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
			&-alphabet {
				margin-right: -16px;
				margin-left: -16px;

				&__list {
					height: 360px;
				}
				&__item {
					width: 100%;
				}
				&__title,
				&__city {
					display: flex;
					align-items: center;
					min-height: 44px;
					height: 44px;
					padding-right: 24px;
					padding-left: 24px;
					border-bottom: 1px solid var(--gray5-color);
				}
			}
		}

		&-create-review {
			.form {
				&__field {
					&:not(:last-child) {
						margin-bottom: 16px;
					}
					&-g {
						&--horizontal {
							flex-direction: column;
						}
					}
				}
			}
		}

		&-cart-delete {
			&__btn-g {
				.btn {
					flex: 1;
					min-width: calc((100% - 12px) / 2);
					width: calc((100% - 12px) / 2);
				}
			}
		}
	}
}

.swiper-pagination {
	z-index: 2;
	position: absolute;
	right: 0;
	bottom: 3px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	.swiper-pagination-bullet {
		width: 9px;
		height: 5px;
		margin: 0 4px;
		background: var(--gray4-color);
		border-radius: 2px;
		transition: 0.2s linear;
	}
	.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 4px;
	}
	.swiper-pagination-bullet-active {
		width: 24px;
		background: var(--gray2-color);
	}
}

.basic-slider-wrap {
	position: relative;

	.swiper-navigation {
		position: absolute;
		top: 104px;
		right: -50px;
		left: -50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 36px;
		margin-top: calc((36px / 2) * -1);

		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 0;
			width: 36px;
			height: 36px;
			margin-top: unset;
			border-radius: 4px;
			background: rgba(213, 213, 214, 0.5);
			backdrop-filter: blur(4px);
			color: var(--text-primary);
			transition: var(--transition);

			&::after {
				content: "none";
				position: absolute;
				top: 6px;
				right: 6px;
				bottom: 6px;
				left: 6px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: 24px;
			}

			&:hover {
				background: rgba(213, 213, 214, 0.6);
			}
		}
		.swiper-button-prev,
		.swiper-rtl .swiper-button-next {
			left: 0;
			right: auto;

			&::after {
				background: url("../img/sprite.svg#chevron-left");
			}
		}
		.swiper-button-next,
		.swiper-rtl .swiper-button-prev {
			right: 0;
			left: auto;

			&::after {
				background-image: url("../img/sprite.svg#chevron-right");
			}
		}
	}
}
.basic-slider {
	overflow: hidden;
}
@media (min-width: 992px) {
	.basic-slider {
		&.card-product-default-wrap {
			.swiper-slide {
				min-width: 208px;
				width: 208px;
			}
		}
	}
}
@media (max-width: 991.98px) {
	.basic-slider-wrap {
		.swiper-navigation {
			display: none;
		}
	}
	.basic-slider {
		&.card-product-default-wrap {
			.swiper-slide {
				min-width: 160px;
				width: 160px;
			}
		}
	}

	.catalog-extra-slider {
		&.out-container-x {
			& .tag-bar.swiper,
			& .basic-slider {
				& .swiper-slide {
					&:first-child {
						margin-left: 16px!important;
					}
					&:last-child {
						margin-right: 16px!important;
					}
				}
			}
		}
	}
}

.switch-content {
	&:not(.selected) {
		.icon-selected,
		.text-selected {
			display: none;
		}
	}
	&.selected {
		.icon-default,
		.text-default {
			display: none;
		}
		.icon-selected {
			fill: var(--green-color);
		}
	}
}

.pagination-wrapper {
	display: flex;
	align-items: center;
}
.pagination {
	display: flex;
	align-items: center;
	gap: 4px;

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 40px;
		width: 40px;
		min-height: 40px;
		height: 40px;
		border-radius: 4px;
		background-color: var(--white-color);
		color: var(--text-primary);
		font-size: 13px;
		line-height: 20px;
		cursor: pointer;

		&:hover {
			background-color: var(--gray6-color);
		}
		&.active {
			background-color: var(--gray5-color);
		}
	}
}
@media (min-width: 992px) {
	.pagination-wrapper {
		gap: 32px;
	}
}
@media (max-width: 991.98px) {
	.pagination-wrapper {
		gap: 16px;
	}
	.pagination {
		&-more {
			&,
			.btn {
				min-width: 100%;
			}
		}
		&-all {
			&,
			.btn-link {
				min-width: 100%;
				width: 100%;
			}
			.btn-link {
				justify-content: space-between;
				padding-top: 20px;
				padding-bottom: 6px;
				border-top: 1px solid var(--gray5-color);
				font-weight: 400;
				font-size: 13px;
				letter-spacing: 0;
				text-transform: unset;
			}
		}
	}
}

.tooltip {
	display: inline-flex;
	align-self: flex-end;
	vertical-align: bottom;
	cursor: pointer;
}
.tippy {
	&-box {
		border-radius: 4px;
		box-shadow: 0 4px 6px rgba(213, 213, 214, 0.5);
		background: var(--gray2-color);
		font-size: 12px;
	}
	&-content {
		padding: 10px 12px;
	}
}

.hr {
	z-index: 10;
	position: relative;
	min-height: 30px;
	height: 30px;
	margin-top: -4px;


	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url('../img/rope-hr.png') no-repeat center/cover;
	}

	&:not(:last-child) {
		margin-bottom: -4px;
	}
}